---
layout: application
---
<!-- breadcrumbs -->

<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul>
          <li class="home"><a title="Go to Home Page" href="index.html">Home</a> <span>/</span></li>
          <li class="category1601"><strong>Contact Us</strong></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- main-container -->
<div class="main-container col2-right-layout">
  <div class="main container">
    <div class="row">
      <section class="col-sm-9 wow bounceInUp animated">
        <div class="col-main">
          <div class="page-title">
            <h2>See our location on map</h2>
          </div>

          <div class="static-contain">
            <iframe src="{{ site.gmap_location }}" width="100%" height="300" frameborder="0" style="border:0"
                    allowfullscreen></iframe>
          </div>
        </div>

        <div class="col-main">
          <div class="page-title">
            <h2>We're here & ready to listen.</h2>
          </div>
          <div id="contact-errormessage" class="alert alert-danger alert-dismissible contact-errormessage" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
            There was a problem sending your message. Please fill all the required fields and try again.
          </div>

          <div id="contact-successmessage" class="alert alert-success alert-dismissible contact-errormessage" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
            Thanks for sending your message! We'll get back to you shortly.</p>
          </div>


          <div class="static-contain">
            <form id="contactForm" method="post">
              <fieldset class="group-select">
                <ul>
                  <li id="billing-new-address-form">
                    <fieldset>
                      <ul>
                        <li>
                          <div class="customer-name">
                            <div class="input-box name">
                              <label>Name<span class="required">*</span></label>
                              <br>
                              <input type="text" id="name" placeholder="Bernard Kariuki" class="input-text ">
                            </div>
                            <div class="input-box subject">
                              <label> Subject <span class="required">*</span> </label>
                              <br>
                              <input type="text" id="subject" placeholder="More info. about roller mill"
                                     class="input-text">
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="input-box">
                            <label>Phone number</label>
                            <br>
                            <input type="text" id="phone_number" value="" placeholder="0712345678" class="input-text">
                          </div>
                          <div class="input-box">
                            <label>Email <span class="required">*</span></label>
                            <br>
                            <input type="text" id="email" placeholder="example@gmail.com"
                                   class="input-text validate-email">
                          </div>
                        </li>
                        <li class="">
                          <label>Message<span class="required">*</span></label>
                          <br>

                          <div style="float:none" class="">
                          <textarea id="message" placeholder="Your message here..." class="required-entry input-text"
                                    cols="5" rows="3"></textarea>
                          </div>
                        </li>
                      </ul>
                    </fieldset>
                  </li>
                  <p class="require"><em class="required">* </em>Required Fields</p>

                  <div class="buttons-set">
                    <button type="submit" title="Submit" id="send" class="button submit"><span> Submit </span></button>
                  </div>
                </ul>
              </fieldset>
            </form>
          </div>
        </div>
      </section>
      <aside class="col-right sidebar col-sm-3 wow bounceInUp animated">
        <div class="block block-company">
          <div class="block-title">Company</div>
          <div class="block-content">
            <ol id="recently-viewed-items">
              <li class="item odd"><a href="/about-us.html">About Us</a></li>
              <li class="item last"><strong>Contact Us</strong></li>
            </ol>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
<!--End main-container -->
