---
layout: application
---

{% assign hot_products = site.data.products | where:"id", 2 %}
{% assign hot_product = hot_products.first %}

<!-- Slider -->
<div id="magik-slideshow" class="magik-slideshow">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container'>
          <div id='rev_slider_4' class='rev_slider fullwidthabanner'>
            <ul>
              <li data-transition='random' data-slotamount='7' data-masterspeed='1000'
                  data-thumb='images/slide_sm1.png'><img src='images/slide_sm1.png' alt="slide-img"
                                                         data-bgposition='left top' data-bgfit='cover'
                                                         data-bgrepeat='no-repeat'/>
              </li>
              <li data-transition='random' data-slotamount='7' data-masterspeed='1000'
                  data-thumb='images/slide_sm2.png'><img src='images/slide_sm2.png' alt="slide-img"
                                                         data-bgposition='left top' data-bgfit='cover'
                                                         data-bgrepeat='no-repeat'/>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 hot-deal">
        <ul class="products-grid">
          <li class="right-space two-height item">
            <div class="item-inner">
              <div class="item-img">
                <div class="item-img-info">
                  <a class="product-image" title="{{ hot_product.name }}"
                                              href="/products/{{ hot_product.product_name | dash_camelcase }}.html"> <img alt="{{ hot_product.name }}"
                                                                                                                      src="/images/products/{{ hot_product.images[0] }}">
                </a>
                  <div class="hot-label hot-top-left">Hot Offer!</div>
                  <div class="box-hover">
                    <ul class="add-to-links">
                      <li><a class="link-quickview" href="/products/quick-view/{{ hot_product.product_name | dash_camelcase }}.html">Quick
                        View</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="item-info">
                <div class="info-inner">
                  <div class="item-title"><a title="{{ product.product_name}}" href="/products/{{ hot_product.product_name | dash_camelcase }}.html">
                    {{ hot_product.product_name }}</a></div>
                  <div class="item-content">
                    <div class="action">
                      <a href="/products/{{ hot_product.product_name | dash_camelcase }}.html">
                        <button class="button btn-cart" type="button">
                          <span>View</span></button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- featured Slider -->
<section class="featured-pro">
  <div class="container">
    <div class="slider-items-products">
      <div class="featured-block">
        <div id="featured-slider" class="product-flexslider hidden-buttons">
          <div class="home-block-inner">
            <div class="block-title">
              <h2>Featured<br>
                <em>Products</em></h2>
            </div>
            <div class="pretext">See featured products on the left side.
            </div>
            <a href="products.html" class="view_more_bnt">View All</a></div>
          <div class="slider-items slider-width-col4 products-grid block-content">
            {% include product_items.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End featured Slider -->

<!-- bestsell Slider -->
<section class="bestsell-pro">
  <div class="container">
    <div class="slider-items-products">
      <div class="bestsell-block">
        <div id="bestsell-slider" class="product-flexslider hidden-buttons">
          <div class="home-block-inner">
            <div class="block-title">
              <h2>Best<br>
                <em> Sellers</em></h2>
            </div>
            <div class="pretext">See the best sold products on the right side.
            </div>
            <a href="products.html" class="view_more_bnt">View All</a></div>
          <div class="slider-items slider-width-col4 products-grid block-content">
            {% include product_items.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Bestseller Slider -->
