---
layout: application
---
{% assign other_classes_for_items = "col-lg-4 col-md-4 col-sm-4 col-xs-6" %}
<!-- Breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul>
          <li class="home"><a href="/" title="Go to Home Page">Home</a> <span>/</span></li>
          <li class="category1601"><strong>Products</strong></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumbs End -->

<!-- Main Container -->
<section class="main-container col2-left-layout bounceInUp animated">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-sm-push-3">
        <article class="col-main">
          <h2 class="page-heading"><span class="page-heading-title">Products</span></h2>
          <div class="category-products">
            <ul class="products-grid">
              {% include product_items.html %}
            </ul>
          </div>
        </article>
        <!--	///*///======    End article  ========= //*/// -->
      </div>

      <!-- Sidebar -->
      <div class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9">
        <aside class="col-left sidebar">
          <div class="side-nav-categories">
            <div class="block-title"> Products</div>
            <!--block-title-->
            <!-- BEGIN BOX-CATEGORY -->
            <div class="box-content box-category">
              <ul>
                <li><a class="active" href="grid.html">All products</a> <span class="subDropdown minus"></span>
                  <ul class="level0_415" style="display:block">
                    {% for product in site.data.products %}
                    <li><a href="/products/{{ product.product_name | dash_camelcase }}.html">{{ product.product_name }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
            </div>
            <!--box-content box-category-->
          </div>
        </aside>
      </div>
      <!-- Sidebar End -->
    </div>
  </div>
</section>
<!-- Main Container End -->



