<footer>
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-5">
            <h4>About Us</h4>
            <p>{{ site.description }}</p>
        </div>
        <div class="col-xs-12 col-lg-3">
          <div class="footer-column pull-left">
            <h4>Useful Links</h4>
            <ul class="links">
              <li class="first"><a title="Home" href="/">Home</a></li>
              <li><a title="Products" href="/products.html">Products</a></li>
              <li><a title="About Us" href="/about-us.html">About Us</a></li>
              <li><a title="Contact Us" href="/contact-us.html">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-lg-4">
          <div class="footer-column-last">
            <div class="social">
              <h4>Follow Us</h4>
              <ul class="link">
		<li class="gl pull-left"><a href="https://gitlab.com/{{ site.gitlab_username }}"></a></li>
		<li class="gh pull-left"><a href="https://github.com/{{ site.github_username }}"></a></li>
                <li class="fb pull-left"><a href="https://web.facebook.com/{{ site.facebook_username }}"></a></li>
                <li class="tw pull-left"><a href="https://twitter.com/{{ site.twitter_username }}"></a></li>
                <li class="linkedin pull-left"><a href="https://www.linkedin.com/company/{{ site.linkedin_username }}"></a></li>
                <li class="youtube pull-left"><a href="https://www.youtube.com/channel/{{ site.youtube_username }}"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <address>
          <i class="fa fa-map-marker"></i> {{ site.address }} <i class="fa fa-mobile"></i><span> <a href="tel:{{ site.phone }}">{{ site.phone }}</a></span>
          <i class="fa fa-envelope"></i><span> <a href="mailto:{{ site.email }}">{{ site.email }}</a></span>
        </address>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
        <div class="coppyright">&copy; {{ site.time | date: '%Y' }} {{ site.title }}. Developed
          by <a href="http://nairuby.org">Nairuby</a>.</div>
    </div>
  </div>
</footer>
