<head>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Favicons Icon -->
  <link rel="apple-touch-icon" sizes="57x57"
        href="{{ '/images/favicons/apple-icon-57x57.png' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="60x60"
        href="{{ '/images/favicons/apple-icon-60x60.png' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="72x72"
        href="{{ '/images/favicons/apple-icon-72x72.png' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="76x76"
        href="{{ '/images/favicons/apple-icon-76x76.png' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="114x114"
        href="{{ '/images/favicons/apple-icon-114x114.png' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="120x120"
        href="{{ '/images/favicons/apple-icon-120x120.png' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="144x144"
        href="{{ '/images/favicons/apple-icon-144x144.png' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="152x152"
        href="{{ '/images/favicons/apple-icon-152x152.png' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="180x180"
        href="{{ '/images/favicons/apple-icon-180x180.png' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="192x192"
        href="{{ '/images/favicons/android-icon-192x192.png' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32"
        href="{{ '/images/favicons/favicon-32x32.png' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="96x96"
        href="{{ '/images/favicons/favicon-96x96.png' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16"
        href="{{ '/images/favicons/favicon-16x16.png' | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ '/images/favicons/manifest.json' | prepend: site.baseurl }}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <title>{{ site.title }} - {{ page.title }}</title>

  <!-- Mobile Specific -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS Style -->
  <link type="text/css" rel="stylesheet" href="{{ site.baesurl }}/assets/stylesheets/application.css">
  {% include google_analytics.html %}
</head>
