<header>
  <div class="header-container">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 hidden-xs"></div>
        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12 logo-block">
          <!-- Header Logo -->
          <div class="logo">
            <a title="{{ site.title }}" href="/"><img alt="{{ site.title }} logo" src="/images/logo.png"></a>
          </div>
          <!-- End Header Logo -->
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12"></div>
      </div>
    </div>
  </div>
</header>
<!-- end header -->

<!-- Navigation -->
<nav>
  <div class="container">
    <div class="mm-toggle-wrap">
      <div class="mm-toggle"><i class="fa fa-align-justify"></i><span class="mm-label">Menu</span></div>
    </div>
    <div class="nav-inner">
      <!-- BEGIN NAV -->
      <ul id="nav" class="hidden-xs">
        <li class="level0 parent drop-menu" id="nav-home">
          <a href="/" class="level-top"><i class="fa fa-home"></i><span class="hidden">Home</span></a>
        </li>
        <li class="level0 nav-6 level-top drop-menu"><a class="level-top" href="/products.html"><span>Products</span></a>
          <ul class="level1">
            {% for product in site.data.products %}
            <li class="level2 nav-6-1-1">
              <a href="/products/{{ product.product_name | dash_camelcase }}.html">
                <span>{{ product.product_name }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li class="mega-menu"><a class="level-top" href="/about-us.html"><span>About Us</span></a></li>
        <li class="mega-menu"><a class="level-top" href="/contact-us.html"><span>Contact Us</span></a></li>
      </ul>
      <!--nav-->
    </div>
  </div>
</nav>
<!-- end nav -->
