<!-- mobile menu -->
<div id="mobile-menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/products.html">Products</a>
      <ul>
        {% for product in site.data.products %}
        <a href="/products/{{ product.product_name | dash_camelcase }}.html">{{ product.product_name }}</span></a>
        {% endfor %}
      </ul>
    </li>
    <li><a href="/about-us.html">About Us</a>
    <li><a href="/contact-us.html">Contact Us</a>
  </ul>
</div>
