{% for product in site.data.products %}
<div class="item {{ other_classes_for_items }}">
  <div class="item-inner">
    <div class="item-img">
      <div class="item-img-info"><a class="product-image" title="{{ product.name }}"
                                    href="/products/{{ product.product_name | dash_camelcase }}.html"> <img alt="{{ product.name }}"
                                                                     src="/images/products/{{ product.images[0] }}">
      </a>

        <div class="box-hover">
          <ul class="add-to-links">
            <li><a class="link-quickview" href="/products/quick-view/{{ product.product_name | dash_camelcase }}.html">Quick
              View</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="item-info">
      <div class="info-inner">
        <div class="item-title"><a title="{{ product.product_name}}" href="/products/{{ product.product_name | dash_camelcase }}.html">
          {{ product.product_name }}</a></div>
        <div class="item-content"> 
            
          <div class="item-price">
            {% include product_pricing.html price_object = product.price %}
          </div>

          <div class="action">
            <a href="/products/{{ product.product_name | dash_camelcase }}.html">
              <button class="button btn-cart" type="button">
                <span>View</span></button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
