<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="cms-index-index cms-home-page">
<div id="page">
  <!-- Header and Navigation-->
  {% include header_navigation.html %}

  <!-- Content -->
  {{ content }}

  <!-- Footer -->
  {% include footer.html %}
</div>

<!-- Mobile menu-->
{% include mobile_menu.html %}

<script src="{{ site.baesurl }}/assets/javascripts/application.js"></script>
</body>
</html>
