---
layout: quick_view
---

<div style="width: 1190px; height: auto; top: 20%; left: 581px; display: block;" id="fancybox-wrap">
  <div id="fancybox-outer">
    <div style="border-width: 10px; width: 1170px; height: auto;" id="fancybox-content">
      <div style="width:auto;height:auto;overflow: auto;position:relative;">
        <div class="product-view">
          <div class="product-essential">
            <input name="form_key" value="6UbXroakyQlbfQzK" type="hidden">

            <div class="product-img-box col-lg-5 col-sm-5 col-xs-12">
              <div class="product-image">
                <div class="product-full"><img id="product-zoom" src="/images/products/{{ page.images[0] }}"
                                               data-zoom-image="/images/products/{{ page.images[0] }}"
                                               alt="{{ page.product_name }}"/>
                </div>
                <div class="more-views">
                  <div class="slider-items-products">
                    <div id="gallery_01" class="product-flexslider hidden-buttons product-img-thumb">
                      <div class="slider-items slider-width-col4 block-content">
                        <div class="more-views-items">
                          <a href="#" data-image="/images/products/{{ page.images[0] }}"
                             data-zoom-image="/images/products/{{ page.images[0] }}">
                            <img id="product-zoom" src="/images/products/{{ page.images[0] }}"
                                 alt="{{ page.product_name }} image 1"/>
                          </a>
                        </div>
                        <div class="more-views-items">
                          <a href="#" data-image="/images/products/{{ page.images[1] }}"
                             data-zoom-image="/images/products/{{ page.images[1] }}">
                            <img id="product-zoom" src="/images/products/{{ page.images[1] }}"
                                 alt="{{ page.product_name }} image 2"/>
                          </a>
                        </div>
                        <div class="more-views-items">
                          <a href="#" data-image="/images/products/{{ page.images[2] }}"
                             data-zoom-image="/images/products/{{ page.images[2] }}">
                            <img id="product-zoom" src="/images/products/{{ page.images[2] }}"
                                 alt="{{ page.product_name }} image 3"/>
                          </a>
                        </div>
                        <div class="more-views-items">
                          <a href="#" data-image="/images/products/{{ page.images[3] }}"
                             data-zoom-image="/images/products/{{ page.images[3] }}">
                            <img id="product-zoom" src="/images/products/{{ page.images[3] }}"
                                 alt="{{ page.product_name }} image 4"/>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end: more-images -->
            </div>
            <div class="product-shop col-lg-7 col-sm-7 col-xs-12">

              <div class="product-name">
                <h1>{{ page.product_name }}</h1>
              </div>

              <div class="price-block">
                <div class="price-box">
                  <p class="old-price"><span class="price-label"></span> <span class="price"></span></p>

                  <p class="availability in-stock pull-right"><span>In Stock</span></p>
                </div>
              </div>
              <div class="short-description">
                <h2>Quick Overview</h2>

                <p>{{ page.description }}</p>
              </div>
              <div class="add-to-box">
                <div class="add-to-cart">
                  <a href="/products/{{ page.product_name | dash_camelcase }}.html"><button class="button" title="View product" type="button">View product</span></button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--product-view-->

      </div>
    </div>
    <a style="display: inline;" id="fancybox-close" href="/"></a></div>
</div>
