---
layout: application
comments: true
---

{% assign next_product_id = page.id | plus:1 %}
{% assign prev_product_id = page.id | minus:1 %}
{% assign next_product = site.data.products | where:"id", next_product_id %}
{% assign prev_product = site.data.products | where:"id", prev_product_id %}

<script type='text/javascript' src='//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js' data-shr-siteid='94e0a4dda69e2477e0a3af898f86e17e' data-cfasync='false' async='async'></script>

<!-- Breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul>
          <li class="home"><a href="/" title="Go to Home Page">Home</a> <span>/</span></li>
          <li class="category1599">
            <a href="/products.html" title="">Products</a><span>/ </span>
          </li>
          <li class="category1601"><strong>{{ page.product_name }}</strong></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumbs End -->

<!-- Main Container -->
<section class="main-container col1-layout">
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-main">
          <div class="product-view">
            <div class="product-essential">
              <form action="#" method="post" id="product_addtocart_form">
                <input name="form_key" value="6UbXroakyQlbfQzK" type="hidden">

                <div class="product-img-box col-lg-4 col-sm-5 col-xs-12">
                  <div class="product-image">
                    <div class="product-full"><img id="product-zoom" src="/images/products/{{ page.images[0] }}"
                                                   data-zoom-image="/images/products/{{ page.images[0] }}"
                                                   alt="{{ page.product_name }}"/>
                    </div>
                    <div class="more-views">
                      <div class="slider-items-products">
                        <div id="gallery_01" class="product-flexslider hidden-buttons product-img-thumb">
                          <div class="slider-items slider-width-col4 block-content">
                            <div class="more-views-items">
                              <a href="#" data-image="/images/products/{{ page.images[0] }}"
                                 data-zoom-image="/images/products/{{ page.images[0] }}">
                                <img id="product-zoom" src="/images/products/{{ page.images[0] }}"
                                     alt="{{ page.product_name }} image 1"/>
                              </a>
                            </div>
                            <div class="more-views-items">
                              <a href="#" data-image="/images/products/{{ page.images[1] }}"
                                 data-zoom-image="/images/products/{{ page.images[1] }}">
                                <img id="product-zoom" src="/images/products/{{ page.images[1] }}"
                                     alt="{{ page.product_name }} image 2"/>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end: more-images -->
                </div>
                <div class="product-shop col-lg-8 col-sm-7 col-xs-12">
                  {% include product-next-prev.html%}
                  <div class="product-name">
                    <h1>{{ page.product_name }}</h1>
                  </div>
                  <div class="price-block">
                    <div class="price-box">
                      <p class="new-price">
                      {% include product_pricing.html price_object = page.price %}
                      </p>
                      <p class="availability in-stock pull-right"><span>in stock</span></p>
                    </div>
                  </div>
                  <div class="short-description">
                    <h2>Quick Overview</h2>

                    <p>{{ page.description }}</p>
                  </div>
                  <div class="social">
                    <ul class="link">
                      <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='23860861'></div>
                    </ul>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="product-collateral col-lg-12 col-sm-12 col-xs-12">
          <div class="add_info">
            <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
              <li class="active"><a href="#product_tabs_description" data-toggle="tab"> Product Description </a></li>
              <li><a href="#reviews_tabs" data-toggle="tab">Reviews</a></li>
            </ul>
            <div id="productTabContent" class="tab-content">
              <div class="tab-pane fade in active" id="product_tabs_description">
                <div class="std">
                  <p>{{ page.description }}</p>
                </div>
              </div>

              <div class="tab-pane fade" id="reviews_tabs">
                <div class="box-collateral box-reviews" id="customer-reviews">
                  <div class="box-reviews2">
                    <h3>Customer Reviews</h3>

                    <div class="box visible">
                      {% if page.comments %}
                        <div id="disqus_thread"></div>
                        <script>

                          /**
                           *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                           *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                          /*
                          var disqus_config = function () {
                          this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                          this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                          };
                          */
                          (function() { // DON'T EDIT BELOW THIS LINE
                            var d = document, s = d.createElement('script');
                            s.src = 'https://duka-nairuby.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                          })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                      {% endif %}
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Main Container End -->

<!-- Related Products Slider -->

<div class="container">

  <!-- Related Slider -->
  <div class="related-pro">

    <div class="slider-items-products">
      <div class="related-block">
        <div id="related-products-slider" class="product-flexslider hidden-buttons">
          <div class="home-block-inner">
            <div class="block-title">
              <h2>Other<br>
                <em> Products</em></h2>
            </div>
            <div class="pretext">See other related products on the right side.</div>
            <a href="products.html" class="view_more_bnt">View All</a>
          </div>
          <div class="slider-items slider-width-col4 products-grid block-content">
            {% include product_items.html %}
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- End related products Slider -->

</div>
<!-- Related Products Slider End -->

<script id="dsq-count-scr" src="//duka-nairuby.disqus.com/count.js" async></script>
